/*UNIVERSAL SELECTOR (*) IT WILL SELECT ALL  ELEMENTS INSIDE (try remove it. it will remove the spaces which is occupied unnecessarily)*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* box-sizing: border-box; makes your element true to size*/
}
/* .parent {
  display: flex;
  background-color: rebeccapurple;
  flex-wrap: wrap;
}

.child {
  border: 2px solid black;
}

.child-1 {
  width: 50%;
}

.child-2 {
  width: 30%;
}

.child-3 {
  width: 50%;
} */

.parent {
  display: flex; /* turns elements into a single row */
  column-gap: 15px;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  row-gap: 15px;
}

.child {
  border: 2px solid rgb(204, 204, 204);
  width: 95%;
}

/*Target all images inside an element with class called child. Fit in the image inside the dedicated box*/
.child img {
  width: 100%;
}

header {
  background-color: black;
  color: white;
  height: 100vh; 
  /*vh = viewport height - it will occupy 100% of your screen*/
  display: flex;
  justify-content: center;
  align-items: center;
  /*line 50-52 is codes to make the subject in centre*/
}

.box {
  border: 2px solid white;
  text-align: center;
  padding: 20px 40px;

}

@media(min-width: 576px) {
  .child {
    width: 45%;
  }
}

@media(min-width: 991px) {
  .child {
    width: 20%;
  }
}

